body{
  background-color: rgb(102,102,102);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.insert{
  margin:20px 20px;
}
.aa{
  background-color: rgb(233,228,245);
  font-size: 15px;
  outline: aqua;
  width: 30%;
  font-family: 'Open Sans',sans-serif;
  padding: 3px 3px;
  margin: 7px 5px;
  border:2px solid rgb(233,228,245);
}
.bb{
  background-color: rgb(79,57,153);
  text-align: center;
  color: white;
  border:2px solid rgb(79,57,153);
  border-radius: 3px;
  padding:10px 30px;
  margin-top: 7px;
  width: 2%;
  min-width: 100px;
}
a{
  color:indigo;
  text-decoration: none;
}
